@import "tailwindcss";

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Height of your navbar */
}
