@import "tailwindcss";
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Height of your navbar */
}
